/* PAGE ELEMENTS */ 

body, html { 
    min-height: 100vh; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    color: whitesmoke;
    
    background-color: #f5f7fa;
}

ul {
      margin-left: 0px; 
      padding: 0px;

}

.horizontal {
  display: flex;
  align-items: center;
  height: 80%;
}
    .horizontal li {
        margin-right: 10px; 
        display: flex;
        align-items: center;
    }

.text li { 
  margin-right: 25px;
}

.circ-outline {
  height: 100%;
  display: flex;
  align-items: center;
}

  .circ-outline a {
    display: flex;           /* make link behave like the image did */
    align-items: center;     /* center image vertically */
    height: 100%;            /* so % heights inside work */
  }

  .circ-outline img {
    height: 80%;              /* 80% of the link's height */
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    background-color: white;
    border: 2.5px solid #f5f7fa;
    display: block;           /* remove inline spacing under img */
    
  }

  .circ-outline img:hover {
    box-shadow: 0 0 4px 2px #ebf0ec8f;
    transition: box-shadow 0.2s ease;
    cursor: pointer;  
  }

hr.content-line {
    border: none;                            /* remove default border */
    height: 2px;                              /* thickness */
    width: 80%;                              /* can adjust if you want shorter lines */
    background-color: rgba(245, 247, 250, 0.5); /* match whitesmoke with some transparency */
    margin: -12px 0 0 0;                     /* space above & below */
    border-radius: 1px;                       /* soften edges */
}

a { 
    text-decoration: none;
    color: whitesmoke;
}

    a:hover { 
        color: #64b6ff;
        transition: color 0.2s ease;
        cursor: pointer;
    }
    


/* CLASSES */ 

.box { 
    width: 800px;

    max-width: 50vw;
    min-width: 600px;
 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cap {
   height: 50px;
   margin-top: 2.5vh;
   margin-bottom: 2.5vh;

   padding-left: 18px;
   padding-right: 18px;
   
   display: flex;
   justify-content: space-between;
   align-items: center;

}

.cell {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    
    border-radius: 14px;
    border-color: rgba(20, 18, 18, 0.9);
    background-color: rgba(44, 62, 80, 0.85);
}

  .content-cell { 
    margin-top: 0px;
    height: 200px;
  }

  

/* margin accounts for view port*/ 
/* ID's */ 

#content { 
    height: 80%;
    padding: 18px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

